#instructions {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  cursor: pointer;
  display: block;
  font-family: Arial;
  font-size: 14px;
  height: 100%;
  line-height: 24px;
  position: absolute;
  text-align: center;
  user-select: none;
  width: 100%;
}