@font-face {
  font-family: "Press Start 2P";
  src: url("/assets/fonts/PressStart2P.ttf");
}

body {
  /* background: linear-gradient(to bottom, #40405c 0%,#6f71aa 80%,#8a76ab 100%); */
  background: linear-gradient(to bottom, #94c5f8 1%, #a6e6ff 70%, #b1b5ea 100%);
  cursor: url(/libs/rpgui/img/cursor/default.png), auto;
  font-size: 0.8em;
  image-rendering: pixelated;
  line-height: 22px;
  margin: 0;
  overflow: hidden;
  user-select: none;
}

body * {
  color: white;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
  font-family: 'Press Start 2P', Courier;
}

/* ELEMENTS */

progress {
  background-color: #4E4A4E;
  border-radius: 7px;
  border: 2px solid black;
  height: 22px;
}

progress::-webkit-progress-bar {
  background-color: #4E4A4E;
  border-radius: 7px;
}

progress::-webkit-progress-value {
  background-image: url("/libs/rpgui/img/progress-red.png");
  background-repeat: repeat-x;
  background-size: 36px 100%;
  border-radius: 7px;
}

/* TYPOGRAPHY */

h1,
h2,
h3 {
  color: white;
  text-align: center;
  padding: 0 0 0 0;
  margin: 7px 7px 17px 7px;
}

h1 {
  font-size: 1.14em;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-weight: 1;
  font-size: 1.15em;
  /* text-decoration: underline; */
}

ul {
  text-align: left;
}

li {
  color: yellow;
  margin-left: 20px;
}

/* small {
  color: yellow;
} */

.rpgui-container h1, 
.rpgui-container h2, 
.rpgui-container h3 {
  /* order is important! */
  background: linear-gradient(to bottom, #ff8a00 0%, yellow 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}

/* CLASSES */

.health-bar {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 220px;
}

.change-camera {
  background-color: transparent;
  border: none;
  bottom: 20px;
  cursor: pointer;
  outline: none;
  position: absolute;
  right: 20px;
  user-select: none;
}

.controls {
  bottom: 20px;
  left: 20px;
  position: absolute;
}

.controls h3 {
  cursor: pointer;
}

.controls h3,
.controls p {
  margin-bottom: 2px;
  margin-top: 2px;
}

.central-screen {
  left: 50%;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.central-screen-select {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dashed-screen {
  background-color: rgba(242, 242, 242, 0.8);
  border: 3px dashed black;
  padding: 20px;
  cursor: crosshair;
}

.report {
  background-color: #cccccc;
  background-image: url(/assets/images/document.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #333;
  height: 24.3em;
  margin: 0 auto;
  width: 39.6em;
}

.report p {
  font-family: Courier;
  font-size: 1.25em;
  font-weight: bold;
  letter-spacing: 0.04em;
  line-height: 1.2;
  margin: 0;
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 160px;
  text-shadow: none;
}

.score {
  left: 20px;
  position: absolute;
  top: 20px;
}

.score p {
  /* color: yellow; */
}

/* button style */

.rpgui-button {
  /* hide button default stuff */
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline: none;
  /* background */
  background: url("/libs/rpgui/img/button.png") no-repeat no-repeat;
  background-clip: padding-box;
  background-origin: padding-box;
  background-position: center;
  background-size: 100% 100%;
  /* font size */
  font-size: 1.0em;
  /* default size and display */
  max-width: 100%;
  min-width: 140px;
  height: 60px;
  display: inline-block;
  /* padding */
  padding-left: 35px;
  padding-right: 35px;
}

/* button hover */
.rpgui-button.hover,
.rpgui-button:hover {
  background-image: url("/libs/rpgui/img/button-hover.png");
}

/* button clicked */
.rpgui-button.down,
.rpgui-button:active {
  background-image: url("/libs/rpgui/img/button-down.png");
}

/* golden button stuff */
.rpgui-button.golden p {
  display: inline-block;
}

/* golden button style */
.rpgui-button.golden {
  /* hide button default stuff */
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline: none;
  /* background */
  background: url("/libs/rpgui/img/button-golden.png") no-repeat no-repeat;
  background-clip: padding-box;
  background-origin: padding-box;
  background-position: center;
  background-size: 100% 80%;
  /* default size and display */
  max-width: 100%;
  min-width: 140px;
  height: 60px;
  display: inline-block;
  /* padding */
  padding-top: 5px;
  padding-left: 35px;
  padding-right: 35px;
  overflow: visible;
}


.rpgui-button.golden:before {
  white-space: nowrap;
  display: inline-block;
  content: "";
  width: 34px;
  display: block;
  height: 110%;
  background: transparent url("/libs/rpgui/img/button-golden-left.png") no-repeat right center;
  background-size: 100% 100%;
  margin: 0 0 0 0;
  left: 0px;
  float: left;
  margin-left: -46px;
  margin-top: -5%;
}

.rpgui-button.golden:after {
  white-space: nowrap;
  display: block;
  content: "";
  width: 34px;
  height: 110%;
  background: transparent url("/libs/rpgui/img/button-golden-right.png") no-repeat left center;
  background-size: 100% 100%;
  margin: 0 0 0 0;
  right: 0px;
  float: right;
  margin-right: -46px;
  margin-top: -5%;
}

.rpgui-button.golden p {
  display: inline-block;
  /* margin-top: 20px; */
}

/* game div without background image*/
.rpgui-container {
  /* position style and default z */
  position: fixed;
  z-index: 10;
  overflow: show;
}

/* game div with background image*/
.rpgui-container.framed {
  /* border */
  border-style: solid;
  border-image-source: url("/libs/rpgui/img/border-image.png");
  border-image-repeat: repeat;
  border-image-slice: 6 6 6 6;
  border-image-width: 18px;
  border-width: 15px;
  padding: 12px;
  /* internal border */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* background */
  background: url("/libs/rpgui/img/background-image.png") repeat repeat;
  background-clip: padding-box;
  background-origin: padding-box;
  background-position: center;
}

/* game div with golden background image*/
.rpgui-container.framed-golden {
  /* border */
  border-style: solid;
  border-image-source: url("/libs/rpgui/img/border-image-golden.png");
  border-image-repeat: repeat;
  border-image-slice: 4 4 4 4;
  border-image-width: 18px;
  border-width: 15px;
  padding: 12px;
  /* internal border */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /* background */
  background: url("/libs/rpgui/img/background-image-golden.png") repeat repeat;
  background-clip: padding-box;
  background-origin: padding-box;
  background-position: center;
}

.blink {
  animation: blinker 1s step-start infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}